In [33]:
class school:
    def __init__(self):
        self.student=300
        self.teacher=12
        self.room=15
    def hindi_tec(self):
        print("in our school have no hindi teacher")
    def english_tec(self):
        print("welcome to englist teacher")
job=school()
job.hindi_tec()

in our school have no hindi teacher

In [34]:
job.english_tec()

welcome to englist teacher

In [35]:
hindi_tec="i have only one teacher hindi in our school"

In [36]:
job.hindi_tec()

in our school have no hindi teacher

In [37]:
print(hindi_tec)

i have only one teacher hindi in our school

In [42]:
job.teacher

12

In [43]:
job.student

300

In [44]:
job.room

15

In [45]:
job.room=20

In [46]:
job.room

20

In [88]:
print(job.room)

20

In [90]:
class ATM:
    def __init__(self):    #constructor
        #instance/variable
        
        self.pin=1234
        self.balance=10000
        self.withdrwal=5000
    def enquiry_b(self):
        print(f"your remaing balance is now {self.balance}")
    def enquiry_w(self):
        print("welcome to withdrwal box")
rupey=ATM()

In [91]:
rupey.balance

10000

In [93]:
rupey.enquiry_b()

your remaing balance is now 10000

In [94]:
rupey.enquiry_w()

welcome to withdrwal box

In [95]:
master=ATM()

In [97]:
master.pin

1234

In [98]:
master.enquiry_b()

your remaing balance is now 10000

In [101]:
master.pin=1111

In [102]:
master.pin

1111

In [103]:
master.withdrwal

5000

In [108]:
class mobile:
    def __init__(self):
        self.price=12000
        self.processor="snapdragen"
        self.battery="14000 Mah"
    def noika(self):
        print("nokia cell phone is price for sale here:",self.price)
sell=mobile()
sell.noika()

nokia cell phone is price for sale here: 12000

In [109]:
sell.battery

'14000 Mah'

In [110]:
sell.processor

'snapdragen'

In [114]:
class mobile:
    def __init__(self):
        self.price=12000
        self.processor="snapdragen"
        self.battery="14000 Mah"
    def noika(self):
        print("nokia cell phone is price for sale here:",self.price)
    def samsung(nokia):
        print("this is samsung here")
        
sell=mobile()
sell.noika()

nokia cell phone is price for sale here: 12000

In [115]:
sell.battery

'14000 Mah'

In [116]:
sell.samsung()